.vscode/**
.vscode-test/**
src/**
node_modules/**
!node_modules/@cline/**
!node_modules/zod/**
!node_modules/nanoid/**
!node_modules/yaml/**
!node_modules/ws/**
!node_modules/simple-git/**
!node_modules/jiti/**
!node_modules/node-machine-id/**
!.gitignore
tsconfig.json
**/*.test.ts
**/*.map
dist/runtime/**
dist/providers/**
dist/context/**
dist/commands/**
dist/webview/**
dist/status/**
